/* --------------------- COLORS ---------------------*/
:root {
  --text: #EEE5E9;
  --articleText: #3a4d5f;
  --background: #3a4d5f;
  --accent: #EEE5E9;
  --titleText: #EEE5E9;
}

body {
  background-image: radial-gradient(#314150, var(--background) 40%);
  color: var(--text);
}

/* --------------------- HEADER ---------------------*/
.myHeader {
  display: flex;
  margin: auto auto;
  width: 80%;
  justify-content: space-between;
  height: 10vh;
}

.myHeader h1 {
  margin: auto 0;
  width: 50%;
  height: 5vh;
}

.myHeader button {
  width: 40%;
  font-size: xx-large;
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  text-align: end;
}

/* --------------------- MAIN ---------------------*/
.myMain {
  min-height: 75vh;
}

.mySearchBar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2% auto;
}

.mySearchBar form {
  width: 90%;
  margin: auto auto;
}

.mySearchBar input {
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--accent);
  background-color: var(--text);
  color: var(--articleText);
}

/* --------------------- MAIN · Article ---------------------*/
.myArticle {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: 2% auto;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--accent);
  background-color: var(--background);

}

.myArticle .myTitle {
  display: flex;
  justify-content: space-between;
}

.myArticle .myTitle:hover {
  cursor: pointer;
}

.myArticle h2 {
  color: var(--articleText);
  display: inline;

}

.myArticleButton {

  width: 50px;
  color: var(--articleText);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: large;
  transition: 0.5s;
}


.myArticle h2 {
  margin-left: 2%;
}

.myHiddenArticle {
  display: none;
}

.myArticleButtons {
  display: flex;
  width: auto;
  justify-content: flex-start;
}

.myArticleButtons button {

  font-size: x-large;
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

/* --------------------- MAIN · Section ---------------------*/
.mySection {
  display: flex;
  justify-content: center;
  border-top-style: solid;
  background-color: var(--background);
  transition: 0.5s;
}

.myCaesarSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-style: solid;
  background-color: var(--background);
  transition: 0.5s;
}

.articleTitle {
  color: #EEE5E9 !important;
}



.myCaesarSection .bottomSection {
  display: flex;
  flex-direction: row;
}

.keySection {
  resize: none;
  text-align: left;
  vertical-align: top;

  width: 93%;

  background-color: var(--text);
  color: var(--articleText);
  border-style: solid;
  border-color: var(--accent);
  border-width: 2px;
}

.topSection form {
  width: 90%;
  padding-top: 2%;

  text-align: center;
  vertical-align: top;
  margin: auto auto;
}


/* --------------------- MAIN · Section · Left ---------------------*/
.leftSection {
  width: 50%;
}

.leftSection form,
.rightSection form {
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  vertical-align: top;
  margin: auto auto;
}

.inputSection {
  resize: none;
  text-align: left;
  vertical-align: top;
  width: 75%;
  aspect-ratio: 1 / 1;
  background-color: var(--text);
  color: var(--articleText);
  border-style: solid;
  border-color: var(--accent);
  border-width: 2px;
}


/* --------------------- MAIN · Section · Right ---------------------*/
.rightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightSection img {
  width: 75%;
  height: 83%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: var(--accent);
}


.rightSection button {
  width: 50px;
  color: var(--articleText);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: large;
}

.rightSection button:hover {
  cursor: pointer;
}

/* --------------------- FOOTER ---------------------*/
.myFooter {
  height: 10vh;
  text-align: center;
  color: var(--articleText)
}

/* --------------------- OTHERS ---------------------*/
hr {
  width: 90%;
  border: 1px solid var(--accent);
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .myArticle {
    width: 80%;
  }

  .mySearchBar {
    width: 80%;
  }

  .myHeader h1 {
    margin: auto 0;
    width: 50%;
    height: 5vh;
    font-size: x-large;
  }

  .myHeader button {
    font-size: x-large;
  }
}