/* --------------------- COLORS ---------------------*/
:root {
  --text: #D1CFC0;
  --background: #1F1F1F;
  --primary: #F76F53;
  --secondary: #3b4060;
  --accent: #D1CFC0;
  --hover: lightgray;
}

body {
  background-color: var(--background);
  color: var(--text);
}
/* --------------------- HEADER ---------------------*/
.myHeader {

  display: flex;
  justify-content: space-evenly;
  height: 10vh;
}

.myHeader h1 {
  display: inline;
  
}
/* --------------------- MAIN ---------------------*/
.myMain {
  min-height: 75vh;
}

.myArticle {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin : 2% auto;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--secondary);
  background-color: var(--secondary);

  box-shadow: 5px 5px 2px 2px var(--text);
  transition: 5.0s;
}

.myArticle .myTitle {
  display: flex;
  justify-content: space-between;
}

.myArticle h2 {
  display: inline;
  
}

.myArticle button {
  width:50px;
  color: var(--text);
  background-color: rgba(0,0,0,0);
  border-style: none;
  font-size: large;
  transition: 0.5s;
}

.myArticle button:hover {
  font-size: xx-large;
}

.myArticle h2 {
  margin-left: 2%;
}


.mySection {
  background-color: green;
  transition: 0.5s;
}

/* --------------------- FOOTER ---------------------*/
.myFooter {
  height: 10vh;
  text-align: center;
}

/* --------------------- OTHERS ---------------------*/
hr {
  width: 90%;
  border: 3px solid var(--accent);
  border-radius: 5px;
}